@page
@model ATS.WEB.Areas.Admin.Pages.Home.IndexModel
@{
    ViewData["Title"] = "Рабочий кабинет";
}
<p><a class="nav-link text-dark" asp-area="Admin" asp-page="/Users/Index">Управление пользователями</a></p>
<p><a class="nav-link text-dark" asp-area="Admin" asp-page="/Cathedras/Index">Управление кафедрами</a></p>