@page
@model ATS.WEB.Pages.Lessons.IndexModel
@{
    ViewData["Title"] = "Educational materials";
}

<h1>Educational materials</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Material
            </th>
            <th>
                Source
            </th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                Assembler. Практикум. 2-е ed. В. Юров
            </td>
            <td>
                <a href="https://codernet.ru/books/assembler/assembler_praktikum_yurov/">book1</a>
            </td>
        </tr>
        <tr>
            <td>
                Assembler. Практикум. 2-е ed. В. Юров
            </td>
            <td>
                <a href="https://codernet.ru/books/assembler/assembler_praktikum_yurov/">book1</a>
            </td>
        </tr>
        <tr>
            <td>
                Assembler. Практикум. 2-е ed. В. Юров
            </td>
            <td>
                <a href="https://codernet.ru/books/assembler/assembler_praktikum_yurov/">book1</a>
            </td>
        </tr>
        <tr>
            <td>
                Assembler. Практикум. 2-е ed. В. Юров
            </td>
            <td>
                <a href="https://codernet.ru/books/assembler/assembler_praktikum_yurov/">book1</a>
            </td>
        </tr>
        <tr>
            <td>
                Assembler. Практикум. 2-е ed. В. Юров
            </td>
            <td>
                <a href="https://codernet.ru/books/assembler/assembler_praktikum_yurov/">book1</a>
            </td>
        </tr>
        
    </tbody>
</table>
