@page
@model ATS.WEB.Pages.Lessons.IndexModel

@{
    ViewData["Title"] = "Лабораторные работы";
}

<h1>Лабораторные работы</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Тема
            </th>
            <th>
                Автор
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Lessons) {
        <tr>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Topic)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.User.Name)
            </td>
        </tr>
}
    </tbody>
</table>
