@page
@model ATS.WEB.Areas.Teacher.Pages.Test.IndexModel
@{
    ViewData["Title"] = "Рабочий кабинет";
}
<p><a class="nav-link text-dark" asp-area="Teacher" asp-page="/Lesson/Index">Управление уроками</a></p>
<p><a class="nav-link text-dark" asp-area="Teacher" asp-page="/Test/Index">Управление тестами</a></p>