@page
@model ATS.WEB.Areas.Admin.Pages.DetailsModel

@{
    ViewData["Title"] = "Подробности";
}

<h1>Подробности</h1>

<div>
    <h4>Cathedra</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cathedra.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cathedra.Name)
        </dd>
    </dl>
    <div>
        <partial name="_GroupsPartial" model="Model.Cathedra.Groups" />
    </div>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cathedra.Id">Edit</a> |
    <a asp-page="./Index">Назад</a>
</div>
