@page
@model ATS.WEB.Areas.Teacher.Pages.Lessons.DetailsModel

@{
    ViewData["Title"] = "Details";
    ViewBag.LessonId = Model.Lesson.Id;
}

<h1>@Html.DisplayFor(model => model.Lesson.Topic)</h1>
<hr />
<div>
    <span style="white-space: pre-line">@Html.DisplayFor(m => m.Lesson.Content)</span>
</div>
<hr />
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Lesson.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
<div>
    <div>
        <partial name="_QuestionsPartial" model="Model.Lesson.Questions" />
    </div>
</div>
