@page
@model ATS.WEB.Areas.Teacher.Pages.Lessons.DetailsModel

@{
    ViewData["Title"] = "Детальная информация";
    ViewBag.LessonId = Model.Lesson.Id;
}

<h1>@Html.DisplayFor(model => model.Lesson.Topic)</h1>
<hr />
<div>
    <span style="white-space: pre-line">@Html.DisplayFor(m => m.Lesson.Content)</span>
</div>
<hr />
<div>
    @if (User.IsInRole(Role.Teacher.ToString()))
    {
        <a asp-page="./Edit" asp-route-id="@Model.Lesson.Id">Edit</a>
    }
    <a href="#" onclick="history.back(-1);">Вернутся к просмотру</a>

</div>
<div>
    <div>
        <partial name="_QuestionsPartial" model="Model.Lesson.Questions" />
    </div>
</div>
