@page
@model ATS.WEB.Areas.Teacher.Pages.Answers.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Создание ответа</h1>

<h4>Ответ</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Input.QuestionId" />
            <div class="form-group">
                <label asp-for="Input.AnswerText" class="control-label"></label>
                <input asp-for="Input.AnswerText" class="form-control" />
                <span asp-validation-for="Input.AnswerText" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.IsRight" class="control-label"></label>
                <input asp-for="Input.IsRight">
                <input name="IsRight" type="hidden" value="false">
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
