@page
@model ATS.WEB.Areas.Teacher.Pages.Answers.EditModel

@{
    ViewData["Title"] = "Редактировать ответ";
}

<h1>Редактировать ответ</h1>

<h4>Ответ</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Answer.Id" />
            <input type="hidden" asp-for="QuestionId" />
            <div class="form-group">
                <label asp-for="Answer.AnswerText" class="control-label"></label>
                <input asp-for="Answer.AnswerText" class="form-control" />
                <span asp-validation-for="Answer.AnswerText" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Answer.IsRight" class="control-label"></label>
                <input asp-for="Answer.IsRight">
                <input name="IsRight" type="hidden" value="false">
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Questions/Edit" asp-area="Teacher" asp-route-id="@Model.QuestionId">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
