@page
@model ATS.WEB.Areas.Teacher.Pages.Questions.DeleteModel
@{ 
    ViewData["Title"] = "Удаление вопроса";
}
<h3>Вы действительно хотите удалить данный вопрос?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Текст вопроса
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Input.QuestionText)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Input.LessonId" />
        <input type="hidden" asp-for="Input.QuestionId" />
        <input type="hidden" asp-for="Input.BackUrl" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="/Lessons/@Model.Input.BackUrl" asp-route-id="@Model.Input.LessonId">Назад</a>
    </form>
</div>
