@page
@model ATS.WEB.Areas.Teacher.Pages.Home.IndexModel
@{
    ViewData["Title"] = "Рабочий кабинет";
}
<p><a class="nav-link text-dark" asp-area="Teacher" asp-page="/Lessons/Index">Управление уроками</a></p>