@page
@model ATS.WEB.Pages.Materials.IndexModel

@{
    ViewData["Title"] = "Учебные материалы";
}

<h1>Учебные материалы</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Name               
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Material[0].UploadDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Material)
        {
            <tr>
                <td>
                    <a href="~/materials/@item.FileName" download> @item.Name</a>
                </td>
                <td>                   
                    @Html.DisplayFor(modelItem => item.UploadDate)
                </td>
            </tr>
        }
    </tbody>
</table>
