@page
@model ATS.WEB.Areas.Admin.Pages.Users.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Input.ApplicationUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.ApplicationUser.Name" class="control-label"></label>
                <input asp-for="Input.ApplicationUser.Name" class="form-control" />
                <span asp-validation-for="Input.ApplicationUser.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ApplicationUser.Role" class="control-label"></label>
                <select name="Role" items="@Model.Input.RolesList"  class="form-control" />
                <span asp-validation-for="Input.ApplicationUser.Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ApplicationUser.Email" class="control-label"></label>
                <input asp-for="Input.ApplicationUser.Email" class="form-control" />
                <span asp-validation-for="Input.ApplicationUser.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password" class="control-label"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

