@page
@model ATS.WEB.Areas.Admin.Pages.Users.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Model.ApplicationUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Model.ApplicationUser.Id" />
            <div class="form-group">
                <label asp-for="Model.ApplicationUser.Name" class="control-label"></label>
                <input asp-for="Model.ApplicationUser.Name" class="form-control" />
                <span asp-validation-for="Model.ApplicationUser.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model.Role" class="control-label"></label>
                <input asp-for="Model.Role" class="form-control" />
                <span asp-validation-for="Model.Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model.ApplicationUser.Email" class="control-label"></label>
                <input asp-for="Model.ApplicationUser.Email" class="form-control" />
                <span asp-validation-for="Model.ApplicationUser.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model.Password" class="control-label"></label>
                <input asp-for="Model.Password" class="form-control" />
                <span asp-validation-for="Model.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

