@page
@model ATS.WEB.Areas.Admin.Pages.Groups.DeleteModel

@{
    ViewData["Title"] = "Удаление";
}

<h1>Удаление</h1>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <h4>Группы</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.Name)
        </dd>
    </dl>
    <div>
        <partial name="_StudentsPartial" model="Model.Group.Students" />
    </div>
    <form method="post">
        <input type="hidden" asp-for="Group.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Назад</a>
    </form>
</div>
