@page
@model ATS.WEB.Areas.Admin.Pages.Groups.DetailsModel

@{
    ViewData["Title"] = "Подробности";
}

<h1>Подробости</h1>

<div>
    <h4>Группы</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.Name)
        </dd>
    </dl>
</div>
<div>
    <partial name="_StudentsPartial" model="Model.Group.Students" />
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Group.Id">Редактирование</a> |
    <a asp-page="./Index">Назад</a>
</div>
