@model List<Group>

<p>
    <a asp-page="Create">Создание новой</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Название групп
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="/Groups/Edit" asp-route-id="@item.Id">Редактироване</a> |
                <a asp-page="/Groups/Details" asp-route-id="@item.Id">Подробности</a> |
                <a asp-page="/Groups/Delete" asp-route-id="@item.Id">Удаление</a>
            </td>
        </tr>
}
    </tbody>
</table>
