@model List<Student>

<p>
    <a asp-page="Create">Создание новой</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-page="/Students/Edit" asp-route-id="@item.Id">Редактирование</a> |
                <a asp-page="/Students/Details" asp-route-id="@item.Id">Подробности</a> |
                <a asp-page="/Students/Delete" asp-route-id="@item.Id">Удаление</a>
            </td>
        </tr>
}
    </tbody>
</table>
