@page
@model ATS.WEB.Areas.Teacher.Pages.Materials.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Редактирование учебного материала</h1>

<h4>Учебный материал</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Material.Id" />
            <input type="hidden" asp-for="Material.UploadDate" />
            <input type="hidden" asp-for="Material.FileName" />
            <div class="form-group">
                <label asp-for="Material.Name" class="control-label"></label>
                <input asp-for="Material.Name" class="form-control" />
                <span asp-validation-for="Material.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Upload" class="control-label"></label>
                <input type="file" asp-for="Upload" class="form-control" />
                <span asp-validation-for="Upload" class="text-danger"></span>
            </div>
 
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
