@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Automated Training System</h1>
    <p>Developed by Aydana</p>
    <table class="table">
        <thead>
            <tr>
                <th>
                  <h3>Lessons</h3>
                </th>
                <th>
                    <h3>Author</h3>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Lesson)
            {
                <tr>
                    <td>
                        <a class="nav-link text-dark" asp-page="/Lessons/Details" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Topic)</a>
</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Teacher.User.Name)
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
