@page
@model ATS.WEB.Areas.Admin.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Подробности";
}

<h1>Подробности</h1>

<div>
    <h4>Студент</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Student.Id">Редактирование</a> |
    <a asp-page="./Index">Назад</a>
</div>
