@page
@model ATS.WEB.Areas.Admin.Pages.Students.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Рабочий кабинет</h1>

<p><a class="nav-link text-dark" asp-area="Students" asp-page="/Tests/Index">Тесты</a></p>
