@page
@model ATS.WEB.Areas.Admin.Pages.Students.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Кафедра</th>
            <th>Почта</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Student) {
        <tr>
            <td>
                @item.User.Name
            </td>
            <td>
                @item.Cathedra.Name
            </td>
            <td>
                @item.User.Email
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
